<li>
    <a class="sonata-action-element" href="{{ admin.generateUrl('import') }}">
        <i class="fa fa-upload"></i> {{ 'menu.button.import'|trans({}, 'SonataBatchEntityImportBundle') }}
    </a>
</li>
